*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: default; */

}

#canvas1{
    border: 5px solid #000;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
    cursor: default;
}

#player, #layer1, #layer2, #layer3, #layer4, #layer5, #heart,
#enemy_fly, #enemy_plant, #enemy_spider_big , #fire, #collision{
     display: none;
     /* cursor: default; */
}

.special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#startMenu {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Special Gothic Expanded One', sans-serif;
    z-index: 10;
    
}

#startMenu h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}

#startMenu p {
    font-size: 24px;
    margin-bottom: 30px;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.8);
}

#startButton {
    padding: 15px 40px;
    font-size: 24px;
    font-family: 'Special Gothic Expanded One', sans-serif;
    background-color: #272727;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#startButton:hover {
    background-color: #6e706e;
    cursor: pointer;
}
  
  
  